<header class="contenido">
    <nav class="nav">
      <div class="nav__logo">
        <h1>Logo</h1>
      </div>
      <div class="nav-items">
        <p class="m-0">My events</p>
        <div class="dropdown">
          <button class=" btn button dropdown-toggle text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>          
          </ul>
        </div>
      </div>
    </nav>
  </header>