<div class="col-12 col-md-3">
        <div class="aside-profile d-flex align-items-center">
          <div class="aside-picture mr-3">
            <img src="https://as1.ftcdn.net/v2/jpg/04/53/08/58/1000_F_453085847_F79K4TPRlcDp9XGLPpAbjuKG2WPG3GAe.jpg" class="img-fluid aside-img" alt="User">
          </div>
          <div class="aside__text">
            <p class="m-0 pb-2">Your name</p>
            <p>MauricioNC</p>
          </div>
        </div>
        <div class="aside-helpers">
          <div class="aside-helpers-buttons">
            <i class="fas fa-cog"></i>
            <p class="aside-helpers-buttons_text">Settings</p>
          </div>
          <div class="aside-helpers-buttons">
            <i class="fas fa-check"></i>
            <p class="aside-helpers-buttons_text my-4">Following</p>
          </div>
          <div class="aside-helpers-buttons">
            <i class="fas fa-play"></i> 
            <p class="aside-helpers-buttons_text-minor">My content</p>
          </div>
        </div>
      </div>