
<head>
  <meta charset = "UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="app/assets/stylesheets/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <title>Settings</title>
</head>
<body>
  <header class="contenido">
    <nav class="nav">
      <div class="nav__logo">
        <h1>Logo</h1>
      </div>
      <div class="nav-items">
        <p class="m-0">My events</p>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>          
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="main-content">
    <div class="row m-auto main-content justify-content-between">
      <div class="col-12 col-md-3">
        <div class="aside-profile d-flex align-items-center">
          <div class="aside-picture mr-3">
            <img src="https://as1.ftcdn.net/v2/jpg/04/53/08/58/1000_F_453085847_F79K4TPRlcDp9XGLPpAbjuKG2WPG3GAe.jpg" class="img-fluid aside-img" alt="User">
          </div>
          <div class="aside__text">
            <p class="m-0 pb-2">Your name</p>
            <p>Josue Samano</p>
          </div>
        </div>
        <div class="aside-helpers">
          <div class="aside-helpers-buttons">
            <i class="fas fa-cog"></i>
            <p class="aside-helpers-buttons_text">Settings</p>
          </div>
          <div class="aside-helpers-buttons">
            <i class="fas fa-check"></i>
            <p class="aside-helpers-buttons_text my-4">Following</p>
          </div>
          <div class="aside-helpers-buttons">
            <i class="fas fa-play"></i> 
            <p class="aside-helpers-buttons_text-minor">My content</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 form-main">
        <div class="container pt-5">
          <div class="form-title">
            <h1>Settings</h1>
          </div>
          <div class="form-content pt-5">
             <div class="form-content-profile ">
                <img src="https://as1.ftcdn.net/v2/jpg/04/53/08/58/1000_F_453085847_F79K4TPRlcDp9XGLPpAbjuKG2WPG3GAe.jpg" class="form-content-profile_img pb-3" alt="User">
                <a href="#" class="button mt-3">Browse</a>
             </div>
             <div class="form-content-group">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Target</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
             </div>
          </div>
        </div>
       </div>
    </div>
  </main>
  <!-- JavaScript Bundle with Popper -->

</body>



