<div class="container-fluid preferences">
  <div class="container">
    <div class="header">
      <h1 class="fw-bolder"><span style="color: #F78528;">Easy learn</span> alongs to the best teachers</h1>
      <h3 class="fw-normal">It's time to learn new technologies</h3>
      <br><br>
      <h4 class="fw-lighter">Before start learning, please set your preferences that you'ld like to see</h4>
    </div>
    <div class="preference-item">
      <div class="row g-0 gap-3 justify-content-center">
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">Javascript</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">PHP</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">HTML5</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">CSS3</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">Laravel</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">PostgreSQL</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">Ruby</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">RoR</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">Angular</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">React</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">Java</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">MySQL</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">React</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">GraphQL</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">Swift</label>
        </div>
        <div class="col-auto">
          <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
          <label class="btn flex-fill" for="btn-check">Nodejs</label>
        </div>
      </div>
    </div>
    <%= link_to "Start learning", { controller: "home", action: "index" }, class: "p-2 rounded-2"%>
  </div>
</div>
